@import "utils";

.game_container {
  width: 100%;
  .dim_layer {
    position: absolute;
    width: 100%;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  .masthead {
    position: relative;
    width: 100%;
    height: 650px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    @include flex-style(center, center);
    .masthead--title {
      z-index: 2;
      text-align: center;
      width: 100%;
      max-width: 800px;
      @include notoSans-style(50px, bold, 68px, #fff);
    }
    .masthead--subtitle {
      z-index: 2;
      margin-top: 60px;
      width: 100%;
      text-align: center;
      @include notoSans-style(16px, bold, 22px, #ff8300);
    }
    .masthead--arrow {
      position: absolute;      
      width: 13px;
      bottom: 50px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 2;
    }
  }
  .papaya_games_container {
    margin-top: 140px;
    width: 100%;
    @include flex-style(center, center);
  }
  .last_section_nav {
    width: 100%;
    height: 353px;
    @include flex-style(center, center);
  }
  
}

@include media("<=tablet") {
  .game_container {
    width: 100%;
    .dim_layer {
      height: 780px;
    }
    .masthead {      
      height: 780px;
      .masthead--title {
        max-width: 600px;
        @include notoSans-style(40px, bold, 68px, #fff);
      }
      .masthead--subtitle {
        margin-top: 127px;
        @include notoSans-style(14px, bold, 19px, #ff8300);
      }
      .masthead--arrow {
        z-index: 2;
        margin-top: 109px;
      }
    }
  }
}

@include media("<=phone") {
  .game_container {
    width: 100%;
    .dim_layer {
      height: 350px;
    }
    .masthead {      
      height: 350px;
      .masthead--title {
        margin-top: 77px;
        max-width: 280px;
        @include notoSans-style(25px, bold, 34px, #fff);
      }
      .masthead--subtitle {
        margin-top: 37px;
        @include notoSans-style(8px, bold, 11px, #ff8300);
      }
      .masthead--arrow {
        display: none;
      }
    }
  }
}
